
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    padding: .5rem;
    margin-bottom: 1rem;
    height: 6.4rem;
    line-height: 6.4rem;

    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_icon {
        color: #008c38;
        margin: 0 0.25rem;
    }

    &_title {
        font-size: 2.4rem;
        font-weight: 700;
    }
}