
.filter-tab {
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    z-index: 1;

    &_search {
        width: 100%;
    }
}