
.cards-list {
        margin: 2rem 0;

        .ant-card-head {
            height: 4.8rem !important;
            background: #fafafa;
        }

        .ant-card-body {
            padding: 2.4rem;
        }

        &_card-title {
            font-size: 1.6rem;
            padding-left: 0.5rem;
            font-weight: 500;
        }
}